<div class="index">
	<section class="placeholder">
	<h1 class="main">Welcome to <%= @crm_app_name %></h1>

		<p>Manage your contacts for easier interaction by using a Customer Relationship Manager.</p>
		<p>This CRM will help you organize your contacts and email. </p>
	</section>
</div>