<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My CRM</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<header>
		<h1 id="top">Customer Relationship Manager</h1>
		<nav>
				<tr><a id="leftb" class="button" href="/">Home</a></tr>
				<tr><a id="middleb" class="button" href="/contacts">Contacts</a></tr>
				<tr><a id="rightb" class="button" href="/contacts/new">Add New</a></tr>
		</nav>
	</header>

	<%= yield %>

<footer class="links">
	<tr><a href="www.instagram.com/stephthii"><img src="/instagram.png" width=50 height=50></a></tr>
	<tr><a href="www.twitter.com/stephthi"><img src="/twitter.png" width=50 height=50></a></tr>
	<tr><a href="www.linkedin.com/in/stephthi"><img src="/linkedin.png" width=50 height=50></a></tr>
	<br>Stephanie Nguyen 2015</br>
</footer>
</body>
</html>