<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My CRM</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contacts">Contacts</a></li>
				<li><a href="/contacts/new">Add New Contact</a></li>
			</ul>
		</nav>
	</header>

	<%= yield %>

</body>
</html>