<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My CRM</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<header>
		<nav>
				<tr><a id="leftb" class="button" href="/">Home</a></tr>
				<tr><a id="middleb" class="button" href="/contacts">Contacts</a></tr>
				<tr><a id="rightb" class="button" href="/contacts/new">Add New</a></tr>
		</nav>
	</header>

	<%= yield %>

<footer>
	<br><a href="www.instagram.com/stephthii">Instagram</a></br>
	<br><a href="www.twitter.com/stephthi">Twitter</a></br>
	<br><a href="www.linkedin.com/in/stephthi">LinkedIn</a></br>
	<br>Stephanie Nguyen 2015</br>
</footer>
</body>
</html>