<h1 id="contactsnew">Create a New Contact</h1>

<div>
	<form action="/contacts" method="post">
	  <input type="text" name="first_name" value="First Name">
	  <input type="text" name="last_name" value="Last Name">
	  <input type="text" name="email" value="Email">
	  <input type="text" name="note" value="Note">
	  <input type="submit" name="Submit">
	</form>

</div>